argparse==1.2.1
boto==2.49.0
Django==1.5.4
django-sslify==0.2.7
google_compute_engine==2.8.13
guppy==0.1.10
mock==0.8.0
MySQL-python==1.2.3
nose==1.3.4
oauth2client==1.5.2
pycrypto==2.6.1
pydot==1.2.3
python-dateutil==2.6.1
PyTrie==0.3
pytz==2013b
pyyaml==3.11
qds_sdk==1.9.0
thrift==0.10.0
tox==1.6.1
